

#mainpart {
    font-family: Arial, Helvetica, sans-serif;
}



.student-item {
    position: relative;
    margin: 5px;
    display: inline-block;
    align-self: flex-end; /* Align to the bottom of the flex container's line */
}

.edit-button {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.delete-form {
    position: absolute;
    top: 0;
    right: 0;
}

.delete-button {
    width: 1.3em; /* Example size, adjust as needed */
    height: 1.35em; /* Keeps the button square */
    padding: 0;
    font-size: 0.75rem; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none; /* Optional, removes the border */
    background-color: red; /* Example, adjust as needed */
    color: white; /* For the icon color */
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Or space-between */
    width: 100%; /* Ensure the container spans the full width */
  }